
    <header>
    <h1>{{title ?? 'Der Rettungsdienst im Kreis Plön'}}</h1>
    </header>

    <nav>
    {{partial:_nav}}
    </nav>

    <main>
        <div>
            <picture>
                <img src="images/Rettungswache.jpeg" alt="Rettunsgwache Preetz">
            </picture>
        </div>

        <div>
            <div>
                <h2>Neuigkeiten</h2>
            </div>
            <div>
                 {{content}}
            </div>
        </div>
   </main>
   
   <footer>

   </footer>